@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}



.container {
    margin: auto;
    max-width: 1530px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0B081C;
    color: white;
    padding: 20px;
}

.logo {

}

.logo img {
    width: 150px ;
    height: 25px;
}

.menu-list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.list-item{
    display: flex;
    gap: 25px;
    list-style: none;
    font-size: 20px;
}


.btn-1 button {
    padding: 5px 13px;
    background-color: #fff;
    color: #0B081C;
    border-radius: 10px;
    font-size: 16px;    
}


.btn-2 button {
    padding: 5px 13px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 175vh;
    align-items: center;
    width: 100%;
    color: white;
    background-size: 100% 100%;
}

.hero-image {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
}

.hero-image img {
    width: 100%;
    height: 100%;
}

.hero-image-content {
    display: flex;  
    align-items: center;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    top: 10%;
    left: 50px;
}

.border-text {
    display: flex;
    justify-content: center;
}

.border-text .s-1 {
    border: 1px solid grey;
    padding: 20px;
    border-radius: 20px;
}

.heading-para{
    gap: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.heading-para h2 {
    font-size: 60px;
    width: 80%;
    text-align: center;
}

.heading-para p {
    font-size: 20px;
    width: 80%;
    text-align: center;
}

.buttons {
    display: flex;
    gap: 50px;
}

.buttons button {
    padding: 5px 12px;
    font-size: 16px;
    border-radius: 10px;
    color: white;
    background-color: transparent;
}

.buttons button:first-child {
    background-color: white;
    color: #0B081C;
}

.hero-image-video {
    position: absolute;
    bottom: 0%;
    left: 170px;
    background-size: 100% 100%;
}

.hero-image-video img {
    background-size: 100% 100%;
}